@model Webshop.Core.Models.Product

@{
    ViewBag.Title = Model.Name + " Details";
}

<h2>@Html.DisplayFor(Model => Model.Name)</h2>


<div class="col-md-3"> <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />  </div>

<div class=" col-md-9">
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>

            <br />

            <dd>
                <div class="col-md-12">
                    <a href="#" class="btn btn-success"><strong>Add To Cart</strong></a>
                </div>
            </dd>
        </dl>
    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="col-md-12 clearfix" />
